.new-project-wrapper {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  gap: 2rem;
}

.new-project-title {
  padding: 3rem;
  background: linear-gradient(to bottom, var(--blue), var(--green));
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem;
  text-align: center;
  display: flex;
  justify-content: center;
  color: var(--dark-blue);
  width: 100%;
}

.new-project-title-shadow {
  background: var(--transparency);
  padding: 2rem;
  border-radius: 0.25rem;
  border-color: var(--input-font);
  border-width: 4px;
  border-style: dashed;
  width: 60%;
}

.new-new-project-title-text {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.new-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.new-project-username-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-project-username-info label {
  background-color: var(--background-icon);
  width: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem 0 0 0.5rem;
  border: none;
  padding: 0.3rem;
  margin: 5px 0 5px 0;
  text-align: center;
}

.new-created-by-user-icon {
  display: block;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/icon-username.png);
}

.new-project-tag-created-by {
  padding: 0.27rem 0.4rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 0 0.5rem 0.5rem 0;
  border: none;
  outline: none;
  color: var(--dark-blue);
  background-color: white;
}

.new-project-basic-info-center {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  gap: 2rem;
}

.new-project-basic-info {
  display: flex;
  align-items: center;
  gap: 4rem;
  max-width: 726px;
  flex-grow: 1;
  width: 100%;
  align-self: center;
}

.new-tags-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1.5rem;
  border-radius: 0.25rem;
  padding: 1.5rem 1rem 1rem 1rem;
}

.new-project-tags-type-difficulty {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.new-project-tag {
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: 1px solid var(--dark-blue);
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  color: white;
}

.new-project-details-type {
  background-color: var(--type-tag);
}

.new-project-details-difficulty {
  background-color: var(--difficulty-tag);
}

.new-project-tags-languages {
  display: flex;
  gap: 1rem;
}

.new-project-details-status {
  background-color: var(--status-tag);
  white-space: nowrap;
}

.new-project-details-language {
  background-color: var(--language-tag);
}

.new-separator-vertical {
  width: 2px;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(99, 99, 99, 0),
    var(--created-tag) 30%,
    var(--created-tag) 70%,
    rgba(99, 99, 99, 0)
  );
}

.new-project-repo-members {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.new-url-wrapper {
  display: flex;
}

.new-input {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.new-repository-text {
  display: flex;
  align-items: center;
  height: 2rem;
}

.new-copy-url-icon-wrapper {
  background-color: var(--background-icon);
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 0 0.5rem 0.5rem 0;
  border: none;
  padding: 0.3rem;
  cursor: pointer;
}

.new-copy-url-icon {
  background-image: url(/src/assets/copy-project-details.png);
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  width: 1.2rem;
  height: 1.2rem;
  display: block;
}

.new-repository-text {
  background: white;
  width: 100%;
  box-shadow: 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  border: none;
  outline: none;
}

.new-project-info-members {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.new-new-participant {
  display: flex;
}

.new-new-participant button {
  margin-left: 0.6rem;
}

.new-project-member-team {
  background: white;
  width: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  padding: 0.27rem 0.4rem;
  border: none;
  outline: none;
}

.new-separator-horizontal {
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    rgba(99, 99, 99, 0),
    var(--created-tag) 30%,
    var(--created-tag) 70%,
    rgba(99, 99, 99, 0)
  );
}

.new-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 1030px;
  align-self: center;
}

.new-description-text {
  background: white;
  min-height: 10rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;
  border: none;
  outline: none;
  resize: vertical;
}

.new-desplegable-select {
  background-color: var(--background-icon);
  width: 16rem;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  border: none;
  padding: 0.3rem;
}

.new-request {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  align-items: center;
}

.new-button-request-join {
  border: none;
  outline: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: var(--font-color);
  background-color: var(--dark-blue);
  transition: all 0.6s ease;
  font-weight: bold;
  max-width: 220px;
  display: flex;
  align-self: center;
}

.new-button-request-join:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: var(--font-color);
  color: var(--dark-blue);
}

.new-add {
  align-self: flex-start;
}

@media (max-width: 500px) {
  .new-project-title-shadow {
    background: none;
    border-radius: initial;
    border-color: transparent;
    border-width: initial;
    border-style: none;
    width: initial;
  }

  .new-project-tags-type-difficulty {
    gap: 0.5rem;
  }
}

@media (max-width: 775px) {
  .new-project-wrapper {
    padding: 2rem;
  }

  .new-project-basic-info {
    flex-direction: column;
    gap: 0.5rem;
  }
}
