.divHeader {
  width: 100%;
  height: 95px;
  background-color: var(--light-blue);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.divLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgLogo {
  width: 60px;
  height: 55px;
}

.userNameDiv {
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.userName {
  font-weight: bold;
  font-size: 25px;
  font-family: "Spline Sans Mono", monospace;
  color: #002330;
}

.divUserNameImg {
  background-color: #d9d9d9;
  border-radius: 5rem;
}

.userNameImg {
  width: 50px;
  height: 50px;
  padding: 0.3rem;
}
