:root {
  --background-title-card: #356dca;
  --type-tag: #4285f4;
  --difficulty-tag: #c54141;
  --created-tag: #636363;
  --status-tag: #2c7d5b;
}

.card-wrapper {
  background: linear-gradient(to bottom, var(--blue), var(--green));
  min-width: 270px;
  min-height: 290px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  color: var(--font-color);
}

.card-info {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
}

.card-title {
  font-size: 1rem;
  background-color: var(--background-title-card);
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0.5rem;
}

.card-division-info {
  padding: 1rem;
  background: var(--transparency);
  border-radius: 0 0 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.first-division-info,
.third-division-info {
  display: flex;
  justify-content: space-between;
}

.second-division-info {
  display: flex;
  width: 100%;
  gap: 0.5rem;
  flex-wrap: wrap;
  font-size: 0.8rem;
}

.tag {
  border-radius: 0.5rem;
  padding: 0.25rem;
  border-color: white;
  border: 1px solid white;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
}

.project-type {
  background-color: var(--type-tag);
}

.project-difficulty {
  background-color: var(--difficulty-tag);
}

.project-created-by {
  background-color: var(--created-tag);
}

.project-actual-status {
  background-color: var(--status-tag);
}

.card-more-info {
  border: none;
  outline: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: var(--font-color);
  background-color: var(--dark-blue);
  transition: all 0.6s ease;
  font-weight: bold;
  width: 6rem;
  font-size: 0.9rem;
  display: flex;
  align-self: center;
  justify-content: center;
}

.card-more-info:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: var(--font-color);
  color: var(--dark-blue);
}
