.projects-home {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.projects {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}

.projects-title {
  font-size: 2rem;
  color: var(--dark-blue);
}

.project-list {
  display: flex;
  gap: 1rem;
}

.create-account {
  background-color: green;
}
