:root {
  --blue: #01afee;
  --green: #70d468;
  --pistachio: #4cc894;
  --dark-blue: #002330;
  --dark-green: #2b5128;
  --dark-pistachio: #153829;
  --light-blue: #cff0fc;
  --light-green: #e2f6e1;
  --light-pistachio: #dbf4ea;
  --font-color: white;
  --background-icon: #4285f4;
  --input-font: #747474;
  --right-input: ;
  --wrong-input: #f95454;
}

body {
  font-family: "Spline Sans Mono", monospace;
  background-color: var(--light-pistachio);
}
